<div class="select-format text-center">
  <%= link_to owner_present_path(present), style: 'text-decoration: none' do %>
    <span class="<%= 'all' if current_page?(owner_present_path(present)) %> btn select-btn">全て</span>
  <% end %>
  <%= link_to tag1_present_path(present), style: 'text-decoration: none' do %>
    <span class="<%= 'siteki' if current_page?(tag1_present_path(present)) %> btn select-btn">
      指摘
    </span>
  <% end %>
  <%= link_to tag2_present_path(present), style: 'text-decoration: none' do %>
    <span class="<%= 'gimon' if current_page?(tag2_present_path(present)) %> btn select-btn">
      疑問
    </span>
  <% end %>
  <%= link_to tag3_present_path(present), style: 'text-decoration: none' do %>
    <span class="<%= 'kanso' if current_page?(tag3_present_path(present)) %> btn select-btn">
      感想
    </span>
  <% end %>
  <%= link_to tag4_present_path(present), style: 'text-decoration: none' do %>
    <span class="<%= 'sonota' if current_page?(tag4_present_path(present)) %> btn select-btn">
      その他
    </span>
  <% end %>
</div>
