<ul>
  <li><i class="fas fa-plus group-0-btn"></i> を押して報告内容を登録・変更する</li>
  <%= render'mains/research_btn', main: main %>
  <% presents.each do |present| %>
    <li>
      <%= link_to '', present, class: 'linkbox'%>
      <span class="pull-right">
        <% if present.user == current_user %>
          <%= link_to '変更', edit_present_path(present), class: 'edit-btn' %>
          <%= link_to '削除', present_path(present), class: 'delete-btn', method: :delete, data: {confirm: "この報告内容に関連する投稿が全て削除されます。本当に削除しますか？"} %>
        <% end %>
      </span>
      <span><%= present.user.name %> <%= render 'mains/research_tag', present: present %></span>
        <h4><%= present.title %></h4>
      <% if present.user == current_user %>
        <%= link_to owner_present_path(present)  do %>
          <div class='ownerbtn'>
            <i class="fas fa-tags"></i> アンケート集計結果
          </div>
        <% end %>
      <% end %>
    </li>          
  <% end %>        
</ul>
