<%# 報告内容変更 %>
<div class="panel">
  <div class="panel-heading">
    <h4 class="text-center">報告内容の変更</h4>
    <%= link_to '←報告内容一覧へ', main_path(@present.main), class: 'back-btn' %>
    <%= link_to '削除', present_path(@present), class: 'delete-btn pull-right', method: :delete, data: {confirm: "この報告内容に関連する投稿が全て削除されます。本当に削除しますか？"} %>
  </div>
  <div class="panel-body">
    <%= form_for(@present) do |f| %>
      <div class="modal-body">
        <div class="form-group">
          <%= f.label :title, 'タイトル' %> <span class="text-muted small">（最大50文字）</span>
          <%= f.text_field :title, class: 'form-control', required: true %>
          <%= hidden_field_tag :name_read, current_user.name_read %>
          <%= hidden_field_tag :research, current_user.research %>
        </div>

        <div>登録者：<%= current_user.name %></div>
        <div> 所属：<%= current_user.research %></div>
        
      </div>

      <div class="modal-footer">
        <div class="text-rmuted" style="text-align: left">
          ※登録した報告内容の情報変更、削除は<%= current_user.name %>さんのみ行うことができます
        </div>

        <%= f.submit '変更する', class: 'btn nomal-btn' %>
      </div>
    <% end %>
  </div>
</div>
