<% breadcrumb :present, @present %>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="pagetitle zemitiltepage">
      <span style="font-size: 12px">
        <%= @present.main.date.strftime('%Y/%m/%d') %>
        <i class="far fa-clock"></i> <%= @present.main.time %>
      </span>
      <div class="zemititle  text-center">
        <%=  @present.main.title %>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <span><%= render 'mains/research_tag', present: @present %> <%= @present.user.name %> </span>
        <h4><%= @present.title %></h4>
      </div>
      <div class="panel-body">
        <div class="comment-form">
          <%= form_for(@comment) do |f| %>
            <div class="comment-tag">
              <div>
                <i class="fas fa-tag"></i> <span class="label label-danger">必須</span>
              </div>

              <%= f.radio_button :tag, '指摘', required: true , id: 'tag2', class: 'siteki'  %>
              <label for="tag2">指摘</label>
              <%= f.radio_button :tag, '疑問', id: 'tag3', class: 'gimon' %>
              <label for="tag3">疑問</label>
              <%= f.radio_button :tag, '感想', id: 'tag1', class: 'kanso' %>
              <label for="tag1">感想</label>
              <%= f.radio_button :tag, 'その他', id: 'tag4', class: 'sonota' %>
              <label for="tag4">その他</label>
            </div>

            <div class="form-group">
              <%= f.text_area :comment, class: 'form-control', required: true, rows: 5, placeholder: 'タグを選択してコメント内容を記入' %>
            </div>

            <%= hidden_field_tag :present_id, @present.id %>
            ※この投稿は匿名で発表者のみに公開されます<br>
            ※タグを指定しないとコメントボタンは押せません

            <%= f.submit '投稿する', class: 'small-btn' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-8 col-sm-offset-2">
    <div class="panel-body">
      <%= render 'comments/comments', comments: @comments %>
    </div>
  </div>
</div>
