<%# アンケート集計 %>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    
    
    <div class="panel-body">
      <% @presents.each do |present| %>
        <li>
          <div class="content">
            <div class="text-center">
              <span class="text-muted">
                <%= present.main.date.strftime('%Y/%m/%d') %>
                <i class="far fa-clock"></i> <%= present.main.time %>
              </span> 
              <h4><%= present.main.title %></h4>
            </div>

            <div class="mypresent">
              <%= link_to '', owner_present_path(present), class: 'linkbox'%>
              
              <span><%= render 'mains/research_tag', present: present %> <%= present.user.name %></span>
              <span class="pull-right">
                <%= link_to '変更', edit_present_path(present), class: 'edit-btn' %>
                <%= link_to '削除', present_path(present), class: 'delete-btn', method: :delete, data: {confirm: "この報告内容に関連する投稿が全て削除されます。本当に削除しますか？"} %>
              </span>
              <h4 class="present-title"><%= present.title %></h4>
              <div class='small-btn2 text-center'>
                集計結果 <%= present.comments.count %>
              </div>
            </div>
          </div>
        </li>  
        <div class="liborder-bold"></div>        
      <% end %>        
    </div>

  </div>
</div>
