<% mains.each do |main| %>
  <li>
    <div class="content">
      <%= link_to '', main, class: 'linkbox' %>
      
      <div class="maingroup">
        <% if main.group == '0' %>
          <span class='group-0'>卒業勉強・卒業研究</span>
        <% else %>
          <span class='group-1'>生活経営研究実習</span>
        <% end %>
      </div>
      
      <span class="text-muted">
        <%= main.date.strftime('%Y/%m/%d') %>
        <i class="far fa-clock"></i> <%= main.time %>
      </span>
      
      <h4 class='main-title'>
        <% if main.date == Date.today %>
          <span class="arrow"><i class="fas fa-arrow-right faa-horizontal animated"></i></span> 
        <% end %>
        <%= main.title %>
      </h4>

      <% if main.user == current_user %>
        <div style="text-align: right">
          <%= link_to '変更', edit_main_path(main), class: 'edit-btn' %>
          <%= link_to '削除', main_path(main), class: 'delete-btn', method: :delete, data: {confirm: "この報告会に関連する内容も全て削除されます。本当に削除しますか？"} %>
        </div>
      <% end %>
    </div>
  </li>    
  <div class="liborder-bold"></div>      
<% end %>     
