<% if logged_in? %>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class='pagetitle nomaltilte text-center'>
        報告会一覧
      </div>
      <%# <div class="panel-body text-center">
        <li class='p'><i class="fas fa-plus sample-btn"></i> を押して報告会を追加する</li>
      </div> %>

      <div class="panel-body">
        <ul>
          <% @mains.each do |main| %>
            <li class="p">
            <%= link_to '', main, class: 'linkbox' %>
              <span class="text-muted">
                <%= main.date.strftime('%Y/%m/%d') %>
                <i class="far fa-clock"></i> <%= main.time %>
              </span>
              
              <span class="main-group">
                <% if main.group == '0'%>
                  <span class='group-0'>卒業勉強・卒業研究</span>
                  <h4 class='main-title'><%= main.title %></h4>
                <% else %>
                  <span class='group-1'>生活経営研究実習</span>
                  <h4 class='main-title'><%= main.title %></h4>
                <% end %>
              </span>

              <% if main.user == current_user %>
                <div style="text-align: right">
                  <%= link_to '変更', edit_main_path(main), class: 'edit-btn' %>
                  <%= link_to '削除', main_path(main), class: 'delete-btn', method: :delete, data: {confirm: "この報告会に関連する内容も全て削除されます。本当に削除しますか？"} %>
                </div>
              <% end %>
              
            </li>          
          <% end %>        
        </ul>           
      </div>
      <div class="text-center">
        <%= paginate @mains%>
      </div>
    </div>
  </div>

<%# 報告会追加フォーム(固定ボタン) %>
  <button type="button" class="fixed-btn sample-b" data-toggle="modal" data-target="#post-form">
    <i class="fas fa-plus"></i>
  </button>

  <div class="modal fade" id="post-form" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
          <h4 class="modal-title text-center">報告会を追加</h4>
        </div>
        <%= render 'mains/main_form', main: @main %>
      </div>
    </div>
  </div>

<% else %>
  <div class="cover">
    <div class="cover-inner">
    </div>
  </div>
  <div class="container">
    <div class="text-center">
      <%= link_to 'アカウント登録', signup_path, class: 'btn nomal-btn' %>
      <%= link_to 'ログイン', login_path, class: 'btn nomal-btn'%>
    </div>
  </div>
<% end %>
