<%# 報告会一覧 %>
<% if logged_in? %>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="panel-body">
        <ul>
          <% if @today_mains != [] %>
            <div class="todaytitle text-center"><i class="fas fa-calendar-check"></i> 今日の報告会</div>
            <%= render 'toppages/main_format', mains: @today_mains %>
            <div class="todaymains"></div>
          <% end %>

          <%= render 'toppages/main_format', mains: @mains %>

        </ul>           
      </div>
      <div class="text-center">
        <%= paginate @mains%>
      </div>
    </div>
  </div>

<%# 報告会追加フォーム(固定ボタン) %>
  <button type="button" class="fixed-btn sample-b" data-toggle="modal" data-target="#post-form">
    <i class="fas fa-plus"></i>
  </button>

  <div class="modal fade" id="post-form" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
          <h4 class="modal-title text-center">報告会を追加</h4>
        </div>
        <%= render 'mains/main_form', main: @main %>
      </div>
    </div>
  </div>

<% else %>
  <%# トップページ(ログイン前)   %>
    <div class="text-center topimg">
      <img src="/images/JIYUtop.png" alt="報告会アンケート" class="toplogo animated fadeIn">
      <img src="/images/JIYUtop2.png" alt="" class="toplogo animated fadeInLeft animelate1">
      <h4 class="jiyucolor topfont animated fadeIn animelate2">卒業勉強・卒業研究 / 生活経営実習</h4>
      <%= link_to 'アカウント登録', signup_path, class: 'button top-btn' %>
      <%= link_to 'ログイン', login_path, class: 'button top-btn'%>
    </div>
<% end %>
