<% if logged_in? %>
  <div class="panel">
    <div class="panel-heading text-center">
      <i class="fas fa-list"></i> 報告会一覧
    </div>
    <div class="panel-body">
      <ul>
        <% @mains.each do |main| %>
          <li>
            <span class="text-muted">
              <%= main.date.strftime('%Y/%m/%d') %>
              <i class="far fa-clock"></i> <%= main.time %>
            </span>

            <h4><%= link_to main.title, main_path(main) %></h4>
            <div class="text-muted" style="text-align: right"><i class="fas fa-user-edit"></i><%= main.user.name %></div>
          </li>          
        <% end %>
      </ul>
    </div>
    <div class="text-center">
      <%= paginate @mains%>
    </div>
  </div>

<%# 報告会追加フォーム(固定ボタン) %>
  <button type="button" class="fixed_btn" data-toggle="modal" data-target="#post-form">
    <i class="fas fa-plus"></i>
  </button>

  <div class="modal fade" id="post-form" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
          <h4 class="modal-title text-center">報告会を追加</h4>
        </div>
        <%= form_for(@main) do |f| %>
          <div class="modal-body">
            <div class="form-group">
              <%= f.label :title, '報告会名' %> 
              <%= f.text_field :title, class: 'form-control', required: true %>
            </div>

            <div class="form-group">
              <%= f.label :date, '日程' %> 
              <%= f.date_field :date, class: 'form-control', required: true %>
              <span class="text-muted">タップすると表示される▼を押して日程を選択</span>
            </div>

            <div class="form-group">
              <%= f.label :time, '時間' %>
              <%= f.text_field :time, class: 'form-control', placeholder: 'ex.1限', required: true %>
            </div>
          </div>

          <div class="modal-footer">
            <div class="text-rmuted" style="text-align: left">
              ※追加した報告会の情報変更、削除は<%= current_user.name %>さんのみ行うことができます
            </div>

            <%= f.submit '追加する', class: 'btn nomal-btn' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<% else %>
  <div class="text-center">

    <div class="top-title">
      <h4>自由学園</h4>
      <h2 style="margin-top:0px">報告会アンケート</h2>
    </div>

    <div class="jumbotron">
      <i class="fas fa-user-plus"></i>
      <div>アンケートに参加する</div>
      <%= link_to 'アカウント登録', signup_path, class: 'btn nomal-btn' %>
      <%= link_to 'ログイン', login_path, class: 'btn nomal-btn'%>
    </div>
    
  </div>
<% end %>
