<%# 報告会フォーム %>
<%= form_for(main) do |f| %>
  <div class="modal-body">
    <%= render 'layouts/error_messages', model: f.object %>
    <div class="form-group">
      <%= f.label :title, '報告会名' %> <span class="text-muted small">（最大50文字）</span>
      <%= f.text_field :title, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :group, 'グループ' %><br>
      <%= f.radio_button :group, '0', required: true %> 卒業勉強・卒業研究
      <%= f.radio_button :group, '1' %> 生活経営研究実習
    </div>

    <div class="form-group">
      <%= f.label :date, '日程' %>
      <%= f.date_field :date, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :time, '時間' %> <span class="text-muted small">（最大10文字）</span>
      <%= f.text_field :time, class: 'form-control', placeholder: 'ex.1限', required: true %>
    </div>
    
    <div>
      登録者：<%= current_user.name %>
    </div>
  </div>

  <div class="modal-footer">
    <div class="text-rmuted" style="text-align: left">
      ※登録した報告会の情報変更、削除は<%= current_user.name %>さんのみ行うことができます
    </div>

    <%= f.submit '登録する', class: 'btn nomal-btn' %>
  </div>
<% end %>
