<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="panel">
      <div class="panel-heading">
        <span class="text-muted">
          <%= @main.date.strftime('%Y/%m/%d') %>
          <i class="far fa-clock"></i> <%= @main.time %>
          <span class='main-group group-0'>卒業勉強・卒業研究</span>
        </span>
        <h4 class='main-title'><%=  @main.title %></h4>
      </div>

      <div class="panel-body">
        <%= render 'presents/presents', presents: @manage_presents, main: @main %>        
      </div>
    </div>
  </div>
</div>
<% if @current_user_present %>
  <%= render 'presents/present_form', present: @current_user_present, main: @main %>
<% else %>
  <%= render 'presents/present_form', present: @present, main: @main %>
<% end %>
