<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="panel">
      <div class="panel-heading">
        <span class="text-muted">
          <%= @main.date.strftime('%Y/%m/%d') %>
          <i class="far fa-clock"></i> <%= @main.time %>
          <span class='main-group group-0'>卒業勉強・卒業研究</span>
        </span>
        <h4 class='main-title'><%=  @main.title %></h4>
      </div>

      <div class="panel-body">
        <ul>
          <li><i class="fas fa-plus group-0-btn"></i> を押して報告内容を登録・変更する</li>
          <% @presents.each do |present| %>
            <li>
              <span class="pull-right">
                <% if present.user == current_user %>
                  <%= link_to '変更', edit_present_path(present), class: 'edit-btn' %>
                  <%= link_to '削除', present_path(present), class: 'delete-btn', method: :delete, data: {confirm: "この報告内容に関連する投稿が全て削除されます。本当に削除しますか？"} %>
                <% end %>
              </span>
              <%= present.user.research %>
              <span class="text-muted"><%= present.user.name %></span>
                <h4><%=  present.title %></h4>
            </li>          
          <% end %>        
        </ul>           
      </div>
    </div>
  </div>
</div>
<% if @current_user_present %>
  <%= render 'presents/present_form', present: @current_user_present, main: @main %>
<% else %>
  <%= render 'presents/present_form', present: @present, main: @main %>
<% end %>
